@import url("https://fonts.googleapis.com/css2?family=Georama:wght@300;500&family=Inter&family=Lato:ital,wght@0,300;0,400;1,300;1,400&family=Manrope:wght@200;400&family=Montserrat:ital,wght@0,300;0,400;1,300;1,400&display=swap");

.card-body {

    box-shadow: 0px 0px 3px rgba(69, 90, 100, 1);
    border-radius: 8px ;
}


.card-img-top {
  border-radius: 8px;
  /* background: #00000033; */
}


.heart_container {
  position: absolute;
  width: 28px;
  height: 28px;
  top: 5%;
  left: 85%;
  border-radius: 50%;
  background: #ebebebcc;
}

.kalp_image {
  width: 18px;
  height: 16px;
  border-radius: 5px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-title {
  /* width: 133px;
    height: 29px; */
  top: 199px;
  left: 22px;
}

.bakici_name_container h5 {
  font-family: "Georama", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  margin: 0; /**/
}

.bakici_name_container img {

  margin-left: 5px; /**/
}

.bakicikart-info-text-container {
    background-color: white;
    border-radius: 8px;
}


.bakici_info_container p {
  font-family: "Georama", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0em;
  /* text-align: left; */
  margin: 0; /**/
}

.bakici_location_icon {
  width: 21px;
  height: 26px;
  top: 257px;
  left: 23px;
  margin: 0 5px;
  margin-right: 15px;
  color: #467888;
}

.bakici_clock_icon {
  width: 24px;
  height: 24px;
  top: 304px;
  left: 22px;
  margin: 0 5px;
  margin-right: 15px;
  color: #467888;
}

.bakici_money_icon {
  width: 24px;
  height: 18px;
  top: 349px;
  left: 22px;
  margin: 0 5px;
  margin-right: 15px;
  color: #467888;
}



.card-body a {
  font-family: "Georama", sans-serif;
  color: #e88485;
}



.pagination {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/**********************/

.bakici_name_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem 0;
}

.bakici_info_container {
  margin-bottom: 1rem;
}

.bakici_info_container div {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.bakici_info_container img {
  /* width: 24px;
    height: 24px; */
  margin-right: 0.5rem;
}

.bakiciara-bakicilar-head {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.bakiciara-bakicilar-head h1 {
  font-family: "Georama", sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(69, 90, 100, 1);
}

.bakiciara-bakicilar-head p {
  font-family: Georama;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.1875rem;
  letter-spacing: 0em;
  text-align: center;
}

.bakiciara-önecikan-bakici-header {
  margin: auto;
  width: 80%;
  vertical-align: middle;
}

.bakiciara-önecikan-bakici-container h1 {
  display: flex;
  flex-wrap: wrap;
  font-family: "Georama";
  font-size: 2rem;
  font-weight: 500;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(69, 90, 100, 1);
}

.bakiciara-önecikan-bakici-card-container {
background-color: rgba(245, 245, 245, 0.8);
}

.bakiciara-önecikan-bakici-cards {
    
}

