.Navbar {
  font-family: "Georama", sans-serif;
  font-size: 24px;
  border-bottom: 1px solid #455a64;
  position: fixed;
  top: 0;
  z-index: 1;
  transition: background-color 0.5s ease; /* Geçiş süresi ve animasyon tipini ayarlar */
}

.scrolled {
  font-family: "Georama", sans-serif;
  font-size: 24px;
  border-bottom: 1px solid #455a64;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
  transition: transform 0.5s ease;
}

.NavbarNew {
  font-family: "Georama", sans-serif;
  font-size: 24px;
  position: fixed;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
}

/* Navbar Collapse styles */
.Navbar .Navbar-Collapse {
  margin-top: 71px;
}

/* .nav-buttons-container {
  display: block;
  width: 20%;
  background-color: red;
} */

/* Navbar Button styles */
.Navbar-Button,
.Navbar-ButtonNew,
.Navbar-LinkNew {
  box-sizing: border-box;
  font-family: "Georama", sans-serif;
  font-size: 1rem;
  background-color: #ffc4c0;
  background: transparent;
  /* min-width: 105px;
  min-height: 28px; */
  width: 100%;
  margin: 3px;
  color: #263238;
  border: 1px solid #263238;
  border-radius: 19px;
  /*  */
  justify-content: space-around;
  align-items: center;
}

.Navbar-Button:hover {
  color: #ffffff;
  background-color: #e88585;
  border: 1px solid #e88585;
}

/* Navbar Button New styles */
.Navbar-ButtonNew,
.Navbar-ButtonNew:hover {
  color: #ffffff;
  background-color: #e88585;
  border: 1px solid #e88585;
}

/* Navbar Link New styles */
.Navbar-LinkNew,
.Navbar-LinkNew:hover {
  color: #263238;
  border: 1px solid #ffffff;
}

/* Navbar Logo styles */
.Navbar-Logo {
  width: 60%;
  height: auto;
  margin-left: 2rem;
}

/* Navbar Icon styles */
.Navbar-Bakici-MagnifyingGlass,
.Navbar-ise-ProfilePlus,
.Navbar-Login-Profile,
.userSignUpIcon {
  width: 1rem;
  height: auto;
  margin-left: 0.5rem;
}

/*  */
#basic-navbar-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto !important ;
  /* margin-right: auto !important; */
}
.navExpandedMenu {
  display: block;
  background-color: red;
  margin-left: auto;

  margin: auto;
  order: 1;
}

#navExpandContainer {
  display: flex;
  width: 100%;
  max-height: 60px;
  justify-content: space-between;
  align-items: center;
  /* background-color: blue; */
  margin-top: 1rem;
}

/* Media queries for responsiveness */
@media screen and (max-width: 992px) {
  .Navbar {
    /* Adjust width for mobile devices */
    width: 100%;
    padding: 10px;
  }

  /* Hide the Navbar New in mobile devices */
  .NavbarNew {
    display: none;
  }

  .Navbar-Logo {
    width: 100px;
    height: 75px;
  }
}

@media screen and (min-width: 992px) {
  /* Adjust the width of the Navbar for larger devices */
  .Navbar {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  #navExpandContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: 50px;
    justify-content: space-between;
    align-items: center;
    /* background-color: blue; */
  }

  .navExpandedMenu {
    order: 2;
  }
  .Navbar-Logo {
    display: none;
  }
}

.Navbar {
  display: flex;
}
#nav-item-container {
  display: flex;
  justify-content: space-around;
  background-color: #e88585;
}

.toggleIcon {
  background-color: #e88585;
}

.Navbar-Link-Uye-Ol {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Georama", sans-serif;
  font-size: 1rem;
  color: #263238;
  justify-content: space-around;
  align-items: center;
}

.Navbar-Link-Uye-Yardım {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Georama", sans-serif;
  font-size: 1rem;
  color: #263238;
  justify-content: space-around;
  align-items: center;
}

.Navbar-Separator {
  margin: auto;
  margin-right: 15px; /* Adjust the margin as needed */
  border-left: 1px solid rgba(38, 50, 56, 1); /* Change the color as needed */
  height: 30px;
}

@media screen and (max-width: 770px) {
  .Navbar-Separator {
    /* Adjust width for mobile devices */
    display: none;
  }
}
