.BakiciMesajlarArsivlenen{
    display: flex;
    width: 80vw;
    margin: 100px auto;
    gap: 150px;

}

.BakiciMesajlarOnayBekleyen-Left-Div{
    flex-basis: 15%;
}

.BakiciMesajlarArsivlenen-Right{
    flex-basis: 85%;
}
.BakiciMesajlarArsivlenen-Left-Div-h3,.BakiciMesajlarArsivlenen-Right-Top-Remove,.BakiciMesajlarArsivlenen-Right-Middle-Top-Left-Desc,.BakiciMesajlarArsivlenen-Right-Middle-Top-Right-Desc,.BakiciMesajlarArsivlenen-Right-Middle-Top-Date{
    color: var(--ternary, #455A64);
font-family: Georama;
font-size: calc(1em + 1vw);
font-style: normal;
font-weight: 500;
line-height: normal;
}

.BakiciMesajlarArsivlenen-Right-Top{
    display: flex;
    gap: 20px;
    cursor: pointer;
}

.BakiciMesajlarArsivlenen-Right-Top-Remove{
    font-size: calc(1em + 1vw);
    margin: 0;
    font-weight: 400;
}

.BakiciMesajlarArsivlenen-Right-Middle{
    display: flex;
    flex-direction: column;
    border-radius: 5px;
    border: 2px solid var(--deep-blue, #457888);
    margin-top: 20px;
    padding: 10px;
    width: 100%;
}

.BakiciMesajlarArsivlenen-Right-Middle-Top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.BakiciMesajlarArsivlenen-Right-Middle-Top-Left{
    display: flex;
    align-items: center;
    gap: 20px;
}

.BakiciMesajlarArsivlenen-Right-Middle-Top-Left-Desc,.BakiciMesajlarArsivlenen-Right-Middle-Top-Right-Desc{
    margin: 0;
}

.BakiciMesajlarArsivlenen-Right-Middle-Top-Right-Desc{
    cursor: pointer;
}

.BakiciMesajlarArsivlenen-Right-Middle-Top-HR{
    stroke-width: 1px;
    stroke: #000;
}

.BakiciMesajlarArsivlenen-Right-Middle-Top-Date{
    color: #7C7C7C;
    font-size: 24px;
    text-align: center;
}

.BakiciMesajlarArsivlenen-Right-Middle-Top-Messages{
    height: 1000px;
    overflow-y:scroll;
}

.BakiciMesajlarArsivlenen-Right-Middle-Top-Date-Sender{
    border-radius: 18px;
background: #DADADA;
width: 45%;
padding: 10px;
margin: 20px 10px 20px auto;
}


.BakiciMesajlarArsivlenen-Right-Middle-Top-Date-Sender-Message,.BakiciMesajlarArsivlenen-Right-Middle-Top-Date-Receiver-Message{
    color: #000;
    text-align: justify;
    font-family: Georama;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    width: 100%;
    white-space:normal;
    word-break:break-all;
}

.BakiciMesajlarArsivlenen-Right-Middle-Top-Date-Sender-MessageDate,.BakiciMesajlarArsivlenen-Right-Middle-Top-Date-Receiver-MessageDate{
    color: #A6A6A6;
font-family: Georama;
font-size: 24px;
line-height: 18px;
font-style: normal;
font-weight: 500;
line-height: normal;
}


.BakiciMesajlarArsivlenen-Right-Middle-Top-Date-Receiver{
    border-radius: 18px;
    background: #FAC3C0;
width: 45%;
padding: 10px;
margin: 20px 10px 20px ;
}

.BakiciMesajlarArsivlenen-Right-Bottom{
    display: flex;
    margin-top: 20px;
    gap: 20px;
    align-items: center;
}
.BakiciMesajlarArsivlenen-Right-Bottom-Inputs{
    height: 46px;
    width: 100%;
    background: #ffffff;
    border-radius: 36px;
    border: 2px solid #457888;
    box-shadow: 0px 2px 2px 2px rgba(204, 204, 204, 0.1);
    padding: 0 20px;
    position: relative;
  }

  .BakiciMesajlarArsivlenen-Right-Bottom-Input{
    border: none;
    width: 100%;
    margin-top: 10px;
  }
  .BakiciMesajlarArsivlenen-Right-Bottom-Input:focus{
    border: none;
    outline: none;
  }
  .BakiciMesajlarArsivlenen-Right-Bottom-Input-Location,.BakiciMesajlarArsivlenen-Right-Bottom-Input-Media{
    cursor: pointer;
    position: absolute;
    width: 20px;
    height: 32.834px;
    top: 50%;
    transform: translateY(-50%);
}

.BakiciMesajlarArsivlenen-Right-Bottom-Input-Location{
    right: 60px;
}
.BakiciMesajlarArsivlenen-Right-Bottom-Input-Media{
    right: 20px;
    width: 30px;
    height: 38.834px;
}
.BakiciMesajlarArsivlenen-Right-Bottom-Button{
    color: #FFF;
    text-align: center;
    font-family: Georama;
    font-size: calc(.8em + 1vw);;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-radius: 36px;
background: #E88585;
border: none;
padding: 5px 50px;
}

.BakiciMesajlarArsivlenen-Left-Div-h3{
    white-space: nowrap;
}

.BakiciMesajlarOnayBekleyen-Left-Div-Data{
    position: relative;
}
.BakiciMesajlarOnayBekleyen-Left-Div-Name-ThreeDot{
    position: absolute;
    font-size: 36px;
    right: 0;
    bottom: 0;
    margin: 0;
    padding: 0;
}

.BakiciMesajlarOnayBekleyen-Left-Div-Box{
    position: absolute;
    top: 100px;
    left: 300px;
    width: 193px;
    height: 161px;
    padding: 20px 0 10px 10px;
    border-radius: 7px;
    border: 1px solid rgba(69, 90, 100, 0.50);
    background: #EBEBEB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 1px 1px 1px 0px rgba(0, 0, 0, 0.12);
}

.BakiciMesajlarOnayBekleyen-Left-Div-Box-Sil{
    color: #E88485;
}
@media screen and (max-width:768px) {

    .BakiciMesajlarArsivlenen{
        display: flex;
        flex-direction: column;
    }

    .BakiciMesajlarOnayBekleyen-Left-Div-Data{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .BakiciMesajlarArsivlenen-Left-Div-h3{
        text-align: center;
        margin-bottom: 20px;
      
    }

    .BakiciMesajlarOnayBekleyen-Right-TalepEdilen-Div-Top{
        flex-direction: column;
    }

    .BakiciMesajlarOnayBekleyen-Right-TalepEdilen-Div-Top-Onaylama{
        flex-direction: column;
    }

    .BakiciMesajlarOnayBekleyen-Right-TalepEdilen-Div-Top-Left-Onaylama,.BakiciMesajlarOnayBekleyen-Reddet-Third-h3{
        text-align: center;
    }

    .BakiciMesajlarOnayBekleyen-Reddet-Third-h3{
        white-space: nowrap;
    }

    .BakiciMesajlarOnayBekleyen-Right-TalepEdilen-Div-Bottom-Onaylama{
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    align-items: center;
    }

    .BakiciMesajlarArsivlenen-Right-Middle-Top-Date-Sender,.BakiciMesajlarArsivlenen-Right-Middle-Top-Date-Receiver{
        width: 60%;
    }
    .BakiciMesajlarArsivlenen-Right-Middle-Top-Date-Sender-Message,.BakiciMesajlarArsivlenen-Right-Middle-Top-Date-Receiver-Message,.BakiciMesajlarArsivlenen-Right-Middle-Top-Date-Sender-MessageDate,.BakiciMesajlarArsivlenen-Right-Middle-Top-Date-Receiver-MessageDate{
        font-size: 16px;
    }
}