.Ebeveyn-Mesajlar-Anasayfa{
    margin: 50px auto 400px;
}


.Ebeveyn-Mesajlar-Anasayfa-Top{
    display: flex;
    width: 80vw;
    margin: 0px auto 100px;
    align-items: center;
    gap: 50px;
    
}

.Ebeveyn-Mesajlar-Anasayfa-Top-H3{
    color: #455A64;
font-family: Georama;
font-size: calc(1em + 1vw);
white-space: nowrap;
font-style: normal;
font-weight: 500;
line-height: 24px; /* 75% */
margin-top: 25px;
}

.Ebeveyn-Mesajlar-Anasayfa-Top-Select{
    width: 50%;
}

.Ebeveyn-Mesajlar-Anasayfa-Top-Paragraph{
    color: #E88485;
font-family: Georama;
font-size: calc(1em + 1vw);
font-style: normal;
font-weight: 400;
line-height: 24px; /* 75% */
text-decoration-line: underline;
white-space: nowrap;
margin-top: 25px;
cursor: pointer;
}

  .Ebeveyn-Mesajlar-Anasayfa-Bottom{
    cursor: pointer;
    width: 415px;
height: 110px;
flex-shrink: 0;
border-radius: 7px;
background: #EBEBEB;
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
margin: 100px auto;
display: flex;
justify-content: center;
align-items: center;
position: relative;
  }

  .Ebeveyn-Mesajlar-Anasayfa-Bottom-Paragraph{
    color: #000;
font-family: Georama;
font-size: calc(1em + 1vw);
font-style: normal;
font-weight: 400;
line-height: 24px; /* 75% */
margin: 0;

  }

  .Ebeveyn-Mesajlar-Anasayfa-Bottom-Number{
    position: absolute;
    right: 20px;
    bottom: 0;
    color: white;
    margin: 0;
    border-radius: 50% 50%;
    background: #F64D4D;
    padding: 7px 13px;
  }

  .Ebeveyn-Mesajlar-Anasayfa-Top-Select-Arrow{
    width: 17px;
    height: 16px;
    position: absolute;
    top: 35px;
    right: 5%;
  }

  .EbeveynMesajlarGelenKutusuGeri{
    margin: 100px auto;
    text-align: right;
    color: #E88485;
font-family: Georama;
font-size: calc(1em + 1vw);;
font-style: normal;
font-weight: 400;
line-height: 24px; /* 75% */
text-decoration-line: underline;
cursor: pointer;
  }

  @media only screen and (max-width: 1200px){
    .Ebeveyn-Mesajlar-Anasayfa-Top{
        flex-direction: column;
        gap: 50px;
        width: 80vw;
        margin: 0px auto 50px;
        text-align: center;
    }
    .Ebeveyn-Mesajlar-Anasayfa-Top-Select{
        width: 100%;
    }
  }