@import url("https://fonts.googleapis.com/css2?family=Anton&family=Barlow:wght@100;200&family=Berkshire+Swash&family=Calligraffitti&family=Crimson+Pro:ital,wght@1,200;1,600&family=Georama:wght@500&family=Julee&family=Lato:wght@300&family=Lobster&family=Montserrat:wght@500&family=Noto+Serif+JP:wght@200;300&family=Open+Sans:wght@300;400&family=Pacifico&family=Quicksand:wght@300&family=Roboto+Condensed:ital,wght@1,700&family=Rubik:wght@300;400;500;600;700;800&family=Russo+One&family=Urbanist:wght@100&display=swap");

.profile_comment_container {
  width: 53rem;
  height: 1000px;
  padding: 0px 0px 71px 0px;
  border-radius: 7px;
  border: 2px solid #457888;
  position: relative;
  top: 84px;
  left: 200px;
  margin-bottom: 10rem;
}
.profile_comment {
  width: 100%;
  height: 64px;
  padding: 20px 30px 20px 30px;
  gap: 10px;
  background-color: #e88585;
  color: #ffffff;
  text-align: center;
}
.profile_comment_text {
  width: 100%;
  height: 48px;
  gap: 19px;
  color: #ffffff;
  display: flex;
  font-family: Georama;
  font-size: 28px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  justify-content: center;
}
.profile_comment_text img {
  width: 40px;
  height: 40px;
  left: 4px;
  bottom: 5px;
  position: relative;
}
.profile_content {
  width: 80%;
  height: 951px;
  top: 100px;
  left: 100px;
  border-radius: 26px;
  position: absolute;
}
.profile_header_container {
  width: 700px;
  height: 151px;
  text-align: left;
  top: 127px;
  left: 63px;
  gap: 13px;
}
.profile_header {
  width: 666px;
  height: 88px;
}
.profile_header span {
  font-family: Georama;
  font-size: 28px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #455a64;
}
.profile_header_p {
  font-family: Georama;
  font-size: 20px;
  font-weight: 300;
  line-height: 50px;
  letter-spacing: 0em;
  text-align: left;
  word-wrap: break-word;
  width: 100%;
}
.profile_headers_text {
  width: 100%;
  height: 51px;
  border: 1px solid #455a64cc;
  border-radius: 5px;
  position: absolute;
}

.comment {
  width: 40rem;
  height: 30rem;
  text-align: left;
  margin-top: 30px;
}

.comment span {
  font-family: Georama;
  font-size: 28px;
  font-weight: 500;
  line-height: 38px;
  letter-spacing: 0em;
  text-align: left;
  color: #455a64;
}
.comment_p {
  font-family: Georama;
  font-size: 20px;
  font-weight: 300;
  line-height: 40px;
  letter-spacing: 0em;
  text-align: left;
  word-wrap: break-word;
  width: 100%;
}
.comment_text {
  width: 100%;
  height: 12rem;
  position: absolute;
  border: 1px solid #455a64cc;
  border-radius: 5px;
}
.kaydet_btn {
  width: 399px;
  height: 52px;
  top: 150px;
  left: 130px;
  padding: 14px 162px 14px 162px;
  border-radius: 26px;
  gap: 10px;
  position: relative;
  background-color: #e88585;
  border: none;
}
.kaydet_btn:hover {
  background: #fda9a9;
}
.kaydet_btn span {
  font-family: Georama;
  font-size: 24px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  color: #ffffff;
  text-align: center;
  justify-content: center;
}
.profile_header_text::placeholder {
  color: #7C7C7C66; 
 
  
}
@media (max-width: 1200px) {
  .profile_comment_container,
  .profile_content {
    max-width: 100%;
    left: 0;
    right: 0;
  }
  .profile_content {
    margin-left: 50px;
  }
}

@media (max-width: 768px) {
  .profile_comment_container,
  .profile_content {
    max-width: 100%;
    height: 1200px;
    left: 0;
    right: 0;
  }
  .comment_p {
    width: 60%;
  }
  .profile_header_p {
    width: 60%;
    line-height: 30px;
    margin-bottom: 10px;
  }
  .profile_content {
    margin-left: 50px;
  }
  .kaydet_btn {
    left: 5px;
    top: 350px;
  }
}
@media (max-width: 480px) {
  .profile_comment_container,
  .profile_content {
    max-width: 100%;
    left: 0;
    right: 0;
  }
  .comment_p {
    width: 60%;
  }
  .profile_header_p {
    width: 60%;
  }
}
